.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--box-shadow-xs);
  z-index: 100;
  padding: 0 var(--space-5);
  height: 70px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    left: -100%;
    top: 70px;
    height: calc(100vh - 70px - calc(100vh - 100%));

    transition: 0.3s;
    gap: var(--space-7);

    .navMenuItem {
      text-align: center;
      width: 100%;

      .navMenuItemButton {
        color: var(--gray-900);
        font-size: var(--font-size-p3);
        line-height: var(--line-height-p3);
        font-weight: var(--font-weight-regular);

        &:hover {
          color: var(--blue-500);
          font-weight: var(--font-weight-semi-bold);
        }
      }
    }

    .multiple {
      display: flex;
      flex-direction: column;
      align-items: center;

      .multipleButton {
        gap: var(--space-1-5);
        display: flex;
        align-items: center;

        .expandArrow {
          width: 12px;
          transition: transform 0.25s;
          transform: scaleY(-1);
        }

        .active {
          transform: scaleY(1);
        }
      }
    }

    .profile {
      order: -1;

      .profileButton {
        .avatar {
          display: none;
        }
      }
    }

    .auth {
      margin-top: auto;
      display: flex;
      width: 100%;
      height: 70px;

      .loginButton,
      .registerButton {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-p1);
        line-height: var(--line-height-p1);
        transition: background-color 0.25s ease-in-out;

        &:hover {
          font-weight: var(--font-weight-bold);
        }
      }

      .loginButton {
        width: 40%;
        font-weight: var(--font-weight-semi-bold);

        @media (min-width: 580px) {
          border-top: 1px solid var(--gray-100);
        }
      }

      .registerButton {
        width: 60%;
        background-color: var(--blue-400);
        color: var(--blue-50);
        font-weight: var(--font-weight-extra-bold);

        &:hover {
          color: var(--white);
          background-color: var(--blue-500);
          font-weight: var(--font-weight-extra-bold);
        }
      }
    }
  }

  .navMenuActive {
    left: 0;
    padding-top: var(--space-7);
  }
}

@media (min-width: 992px) {
  .navbar {
    justify-content: flex-start;
    gap: var(--space-24);
    padding: 0 0 0 var(--space-7);

    .navMenu {
      position: unset;
      flex-direction: row;
      align-items: center;
      padding: 0;
      height: 100%;
      gap: var(--space-7);

      .navMenuItem {
        width: initial;

        .navMenuItemButton {
          font-size: var(--font-size-p1);
          line-height: var(--line-height-p1);
          font-weight: var(--font-weight-semi-bold);

          .expandArrow {
            width: 10px;
          }
        }
      }

      .multiple {
        position: relative;
      }

      .profile {
        order: 1;
        margin-left: auto;
        margin-right: var(--space-11);

        .profileButton {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: var(--space-2-5);

          .avatar {
            display: block;
          }
        }
      }

      .auth {
        order: 1;
        margin-left: auto;
        width: 100%;
        max-width: 240px;
        gap: var(--space-2-5);

        .loginButton {
          width: 35%;
          border-top: none;
        }

        .registerButton {
          width: 65%;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .navbar {
    gap: var(--space-40);
    padding: 0 0 0 var(--space-10);
  }
}
