.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 15px 100px;
  background-color: var(--primary-color);
  z-index: 100;

  .navMenu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 35px;

    .navItem,
    .auth {
      list-style-type: none;
      color: var(--white-3);
      transition: 0.3s;

      button {
        background-color: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        padding: 0;
        font-weight: 700;

        &:hover {
          color: var(--white-1);
        }
      }
    }

    .auth {
      margin-left: auto;
      display: flex;
      gap: 20px;

      button {
        width: 75px;
        border-radius: 6px;
        padding: 6px 8px;

        &:last-of-type {
          border: 1px solid var(--blue-20);
        }
      }
    }
  }

  .hamburger {
    display: none;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: var(--white-1);
    }
  }
}

@media (max-width: 780px) {
  .navbar {
    padding: 10px 35px;
    height: 50px;

    .navMenu {
      position: fixed;
      flex-direction: column;
      align-items: center;
      left: -100%;
      top: 50px;
      width: 100%;
      height: calc(100vh - 50px);
      transition: 0.3s;
      background-color: var(--primary-color);
      gap: 50px;

      .navItem,
      .auth {
        text-align: center;

        button {
          font-size: 18px;
        }
      }

      .auth {
        margin: 0 auto;
        gap: 50px;
        justify-content: center;
        flex-direction: column;
      }
    }

    .navMenuActive {
      left: 0;
      padding: 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }

    .hamburgerActive {
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

.navbarWhite {
  background-color: var(--white-1);

  .navMenu {
    background-color: var(--white-1);

    .navItem,
    .auth {
      button {
        font-weight: 700;
        color: var(--black-1);

        &:hover {
          color: var(--blue-50);
        }
      }
    }
  }

  .auth {
    button {
      &:last-of-type {
        color: var(--blue-50);
      }
    }
  }

  .hamburger {
    .bar {
      background-color: var(--blue-50);
    }
  }
}
