.form {
   display: flex;
   flex-direction: column;
   gap: var(--space-3);

   .userWrapper {
      display: flex;
      gap: var(--space-1);
      align-items: center;
      margin-bottom: var(--space-3);

      .avatar {
         width: 35px;
         height: 35px;
         object-fit: cover;
         border-radius: 50%;
      }

      .username {
         font-size: var(--font-size-caption);
         line-height: var(--line-height-caption);
         font-weight: var(--font-weight-semi-bold);
         color: var(--gray-900);
      }
   }

   .btnWrapper {
      margin-top: var(--space-3);
   }
}

@media (min-width: 360px) {
   .form {
      padding: var(--space-3) var(--space-1);

      .userWrapper {
         gap: var(--space-2);

         .username {
            font-size: var(--font-size-p1);
            line-height: var(--line-height-p1);
         }
      }
   }
}

@media (min-width: 450px) {
   .form {
      padding: var(--space-4) var(--space-3);

      .userWrapper {
         gap: var(--space-4);

         .avatar {
            width: 40px;
            height: 40px;
         }

         .username {
            font-size: var(--font-size-p2);
            line-height: var(--line-height-p2);
         }
      }
   }
}

@media (min-width: 600px) {
   .form {
      padding: var(--space-6) var(--space-14) var(--space-6) var(--space-10);

      .userWrapper {
         gap: var(--space-6);

         .avatar {
            width: 50px;
            height: 50px;
         }

         .username {
            font-size: var(--font-size-p3);
            line-height: var(--line-height-p3);
         }
      }
   }
}
