.dividerText {
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: var(--space-3) auto;
  font-size: var(--font-size-p1);
  font-weight: var(--font-weight-semi-bold);
  color: var(--gray-600);

  &::before,
  &::after {
    background-color: var(--gray-200);
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  &::before {
    right: 0.5em;
    margin-left: -50%;
  }

  &::after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.divider {
  margin: 15px auto;
  background-color: var(--gray-20);
  height: 1px;
  width: 100%;
}
