.container {
  padding: var(--space-6) var(--space-5) 0 var(--space-5);
  margin: 0 auto;
  max-width: 1336px;

  .filterBtnWrapper {
    display: flex;
    justify-content: flex-end;

    .icon {
      width: 16px;
      fill: var(--blue-500);
    }
  }

  .staticRecipeList {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
  }
}

@media (min-width: 1000px) {
  .container {
    padding: var(--space-12) var(--space-20) 0 var(--space-20);
  }
}
