.stepsContainer {
   .title {
      font-size: var(--font-size-h2-small);
      line-height: var(--line-height-h2);
      font-weight: var(--font-weight-bold);
      color: var(--gray-900);
   }

   .steps {
      display: flex;
      flex-direction: column;

      .step {
         color: var(--gray-800);
         font-size: var(--font-size-p2);
         line-height: var(--line-height-p2);
      }
   }
}
