.container {
   min-height: 100vh;
   background-color: var(--white);

   .header {
      width: 100%;
      height: 70px;
   }

   .main {
      min-height: calc(100vh - 70px);
      max-width: 1366px;
      width: 100%;
      margin: 0 auto;
   }

   .mainFullWidth {
      max-width: 100vw;
   }
}
