.Container {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   .imageContainer {
      position: relative;
      width: 100%;
      height: 348px;
   }
   .profileContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: var(--white);
      width: 95%;
      height: 380px;
      border-radius: var(--border-radius-15);
      margin-left: var(--space-2);
      transform: translateY(-0%);
      box-shadow: var(--box-shadow-xl);
   }
   .mobileWrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      transform: translateY(-15%);
   }
   .avatar {
      position: relative;
      width: 150px;
      height: 150px;
   }
   .name {
      font-weight: var(--font-weight-extra-bold);
   }

   .firstAchiv {
      display: flex;
      height: 326px;
      width: 100%;
      background-color: var(--blue-100);
   }

   .secondAchiv {
      display: flex;
      height: 326px;
      width: 100%;
      background-color: var(--gray-400);
   }

   .tripleAchiv {
      display: flex;
      height: 326px;
      width: 100%;
      background-color: var(--gray-700);
   }

   .boxWrapper {
      width: 100%;
   }
   .smallBlueBox {
      margin: var(--space-12);
      background-color: var(--blue-200);
      width: 40%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
   }

   .smallDarkerBlueBox {
      margin: var(--space-12);
      background-color: var(--gray-500);
      width: 40%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
   }
   .smallDarkest {
      margin: var(--space-12);
      background-color: var(--gray-800);
      width: 40%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
   }

   .menuIcon {
      width: 40px;
      height: 40px;
   }

   .smallRightBlueBox {
      margin: var(--space-12);
      background-color: var(--blue-200);
      width: 40%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
      margin-left: auto;
   }

   .smallDarkRight {
      margin: var(--space-12);
      background-color: var(--gray-500);
      width: 40%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
      margin-left: auto;
   }

   .smallRightDarkest {
      margin: var(--space-12);
      background-color: var(--gray-800);
      width: 40%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
      margin-left: auto;
   }

   .tabContainer {
      max-width: 70%;
      margin-left: var(--space-2);
      margin-top: var(--space-10);
   }

   .wrapper {
      margin-top: var(--space-10);
   }

   .tag {
      color: var(--gray-400);
   }

   .icon {
      width: 24px;
      height: 24px;
      fill: var(--gray-500);
   }
   .informationContainer {
      display: flex;
      flex-direction: column;
      padding-top: var(--space-2-5);
      gap: var(--space-2-5);
      color: var(--gray-600);
   }
   .informationWrapper {
      display: flex;
      gap: var(--space-2-5);
   }

   .SocialContainer {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin-top: var(--space-2-5);
   }
   .socialText {
      font-weight: var(--font-weight-bold);
   }
   .socialWrapper {
      display: flex;
      gap: var(--space-2-5);
   }
   .socialIcon {
      width: 37px;
      height: 37px;
   }
   .menuContainer {
      display: flex;
      flex-direction: row;
      gap: 17%;
      margin-left: var(--space-2);
      margin-right: var(--space-2);
   }
   .botContainer {
      display: flex;
      flex-direction: column;
   }
   .rightBox {
      width: 100%;
   }

   .activeMenu {
      fill: var(--blue-600);
      height: 40px;
      width: 40px;
   }
   .menuText {
      font-size: var(--font-size-p1);
      font-weight: var(--font-weight-bold);
   }
   .menuButton {
      font-weight: var(--font-weight-bold);

      &:active {
         color: var(--blue-600);
      }
   }
}
