.Container {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   .imageContainer {
      position: relative;
      width: 100%;
      height: 348px;
   }
   .profileContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: var(--white);
      width: 450px;
      height: 450px;
      max-width: 50%;
      border-radius: var(--border-radius-15);
      margin-left: var(--space-16);
      transform: translateY(-40%);
      box-shadow: var(--box-shadow-xl);
   }
   .avatar {
      position: relative;
      width: 150px;
      height: 150px;
   }
   .name {
      font-weight: var(--font-weight-extra-bold);
   }

   .recipeContainer {
      max-width: 70%;
      margin-left: var(--space-16);
      margin-top: var(--space-10);
   }

   .tag {
      color: var(--gray-400);
   }

   .icon {
      width: 24px;
      height: 24px;
      fill: var(--gray-500);
   }
   .informationContainer {
      display: flex;
      flex-direction: column;
      padding-top: var(--space-2-5);
      gap: var(--space-2-5);
      color: var(--gray-600);
   }
   .informationWrapper {
      display: flex;
      gap: var(--space-2-5);
   }

   .SocialContainer {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin-top: var(--space-2-5);
   }
   .socialText {
      font-weight: var(--font-weight-bold);
   }
   .socialWrapper {
      display: flex;
      gap: var(--space-2-5);
   }
   .socialIcon {
      width: 37px;
      height: 37px;
   }
   .menuContainer {
      display: flex;
      flex-direction: row;
      margin-left: var(--space-16);
      margin-top: var(--space-5);
      gap: var(--space-14);
      font-size: var(--font-size-p5);
      height: 24px;
   }
   .botContainer {
      display: flex;
   }
   .rightBox {
      width: 100%;
   }
   .menuText {
      font-size: var(--font-size-p5);
      font-weight: var(--font-weight-bold);
   }
   .menuButton {
      font-weight: var(--font-weight-bold);

      &:active {
         color: var(--blue-600);
      }
   }
}
