.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 300px;

  .error {
    color: var(--red-2);
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
    line-height: 14px;
    font-weight: 600;
  }

  .success {
    color: var(--green-1);
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
    line-height: 14px;
    font-weight: 600;
  }

  .formBtn {
    margin-bottom: 25px;
    border-radius: 20px;
    width: 300px;
    border: none;
    background-color: var(--primary-color);
    height: 50px;
    letter-spacing: 1.1px;
    color: var(--white-2);
    font-weight: 600;
    cursor: pointer;
  }

  .formBtn:disabled {
    cursor: not-allowed;
    background-color: var(--gray-30);
  }

  .mail {
    width: 180px;
  }
}

@media (min-width: 1100px) {
  .registerForm {
    width: 350px;

    .formBtn {
      width: 350px;
      border: none;
    }
  }
}
