.nutrilionContainer {
  order: -1;
  @media (min-width: 640px) {
    order: 0;
  }

  .interval {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }

  .subTitle {
    font-size: var(--font-size-h5-small);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-h1);
  }
  .nurtilions {
    display: flex;
    width: 100%;
    flex-direction: unset;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .nurtilion {
    line-height: 30px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    color: var(--gray-700);
  }

  .nurPerSav {
    font-weight: var(--font-weight-bold);
  }
}
