.container {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--gray-50);
  position: relative;

  .loginBox {
    padding: var(--space-5) var(--space-6);
    background-color: var(--white);
    gap: var(--space-1-5);
    border-radius: var(--border-radius-8);
    width: 100%;
    display: flex;
    flex-direction: column;

    .logo {
      font-size: var(--font-size-h3-small);
      font-weight: var(--font-weight-black);
      color: var(--blue-700);
      text-align: center;
    }

    .login {
      font-weight: var(--font-weight-semi-bold);
      color: var(--gray-800);
      text-align: center;
      margin: var(--space-1-5) 0;
    }

    .divider {
      margin: var(--space-3) 0;
      font-size: var(--font-size-p1);
      font-weight: var(--font-weight-semi-bold);
      color: var(--gray-500);
      text-align: center;
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .link {
        font-size: var(--font-size-caption);
        font-weight: var(--font-weight-bold);
        color: var(--blue-700);
        padding: 0;
        text-align: right;
      }
    }
  }

  @media (min-width: 420px) {
    .loginBox {
      padding: var(--space-9) var(--space-14);
      border: 1px solid var(--gray-100);
    }
  }

  @media (min-width: 460px) {
    .loginBox {
      margin: var(--space-3) 0;
      max-width: 420px;

      .links {
        flex-direction: row;
      }
    }
  }
}

@media (min-width: 600px) {
  .container {
    align-items: center;
  }
}
