.container {
  padding: 25px 20px;
  max-width: 1350px;

  .filterBtn {
    margin-left: auto;
    padding: 8px 12px;
    border: none;
    background-color: var(--blue-40);
    border-radius: 4px;
    color: var(--white-1);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .icon {
      width: 16px;
      fill: var(--white-1);
    }
  }

  .staticRecipeList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 50px 80px;
  }
}
