.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1350px;

  @media only screen and (min-width: 279px) {
    max-width: 1350px;
  }

  @media only screen and (min-width: 480px) {
    max-width: 950px;
  }

  @media only screen and (min-width: 768px) {
    max-width: 1050px;
  }
  @media only screen and (min-width: 992px) {
    max-width: 1150px;
  }
  @media only screen and (min-width: 1200px) {
    max-width: 1250px;
  }

  .wrapper {
    display: block;
    flex-direction: column;

    @media (min-width: 279px) {
      /* smartphones, iPhone, portrait 480x320 phones */
      display: table;
    }
  }

  .background {
    width: 100%;
    background-color: var(--primary-color);
    @media (min-width: 279px) {
      /* smartphones, iPhone, portrait 480x320 phones */
      margin-left: 0px;
      margin-top: -10px;
      width: 100%;
    }
    @media (min-width: 481px) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
      padding-left: 30px;
    }

    @media (min-width: 961px) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      margin-left: 0px;
    }
    @media (min-width: 1025px) {
      /* big landscape tablets, laptops, and desktops */
      margin-left: 0px;
    }
    @media (min-width: 1281px) {
      /* hi-res laptops and desktops */
      margin-left: px;
    }
  }

  .title {
    font-size: 50px;
    padding-top: 30px;
    font-weight: bold;
    margin-right: auto;
    color: white;
    max-width: 100%;
    padding-left: 125px;

    @media (min-width: 279px) {
      /* smartphones, iPhone, portrait 480x320 phones */
      font-size: 30px;
      max-width: 100%;
      padding-left: 20px;
    }
    @media (min-width: 481px) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
      font-size: 30px;
      padding-left: 10px;
      max-width: 100%;
    }
    @media (min-width: 641px) {
      /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
      font-size: 30px;
    }
    @media (min-width: 961px) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      font-size: 30px;
      padding-left: 85px;
    }
    @media (min-width: 1025px) {
      /* big landscape tablets, laptops, and desktops */
      font-size: 50px;
      padding-left: 85px;
      max-width: 100%;
    }
    @media (min-width: 1281px) {
      /* hi-res laptops and desktops */
      font-size: 50px;
      max-width: 100%;
    }
  }

  .bottom {
    @media (min-width: 279px) {
      /* smartphones, iPhone, portrait 480x320 phones */
      display: flex;
      justify-content: flex-start;
      flex-direction: column-reverse;
      align-items: center;
    }
    @media (min-width: 641px) {
      /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
      padding-left: 20px;
      max-width: 100%;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .leftBox {
    margin-right: auto;
    max-width: 100%;
    padding-left: 155px;

    @media (min-width: 279px) {
      /* smartphones, iPhone, portrait 480x320 phones */
      max-width: 100%;
      padding-left: 30px;
      margin-right: 0px;
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 8px;
    }
    @media (min-width: 481px) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
      padding-left: 10px;
      max-width: 100%;
    }
    @media (min-width: 641px) {
      /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
      padding-left: 20px;
      max-width: 100%;
    }
    @media (min-width: 961px) {
      max-width: 100%;
      padding-left: 100px;
      /* tablet, landscape iPad, lo-res laptops ands desktops */
    }
    @media (min-width: 1025px) {
      max-width: 100%;
      padding-left: 120px;

      /* big landscape tablets, laptops, and desktops */
    }
    @media (min-width: 1281px) {
      /* hi-res laptops and desktops */
      max-width: 100%;
      padding-left: 105px;
    }
  }

  .desc {
    max-width: 75%;
    margin-right: auto;
    color: var(--gray-40);
    margin-top: 20px;
    line-height: 20px;
    @media (min-width: 279px) {
      /* smartphones, iPhone, portrait 480x320 phones */
      max-width: 100%;
      justify-content: flex-start;
    }
  }

  .foods {
    transform: translateY(-20%);
    max-width: 100%;
    text-align: center;

    @media (min-width: 279px) {
      /* smartphones, iPhone, portrait 480x320 phones */
      max-width: 100%;
      transform: translateY(0%);
    }
    @media (min-width: 481px) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
      transform: translateY(-5%);
      margin-right: 5px;
    }
    @media (min-width: 641px) {
      /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
      transform: translateY(0%);
    }
    @media (min-width: 730px) {
      /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
      transform: translateY(-15%);
    }
    @media (min-width: 961px) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      transform: translateY(-15%);
    }
    @media (min-width: 1025px) {
      /* big landscape tablets, laptops, and desktops */
      transform: translateY(-18%);
    }
    @media (min-width: 1281px) {
      /* hi-res laptops and desktops */
      transform: translateY(-18%);
      margin-right: 30px;
    }
  }

  .foodIMG {
    width: 400px;
    height: 400px;
    margin-top: 70px;

    @media only screen and (min-width: 279px) {
      width: 260px;
      height: 260px;
    }

    @media only screen and (min-width: 360px) {
      width: 350px;
      height: 350px;
    }

    @media only screen and (min-width: 641px) {
      width: 250px;
      height: 250px;
    }
    @media only screen and (min-width: 992px) {
      max-width: 1150px;
    }
    @media only screen and (min-width: 1200px) {
      max-width: 1250px;
    }
  }

  .timeAndRating {
    @media (min-width: 481px) {
      /* smartphones, iPhone, portrait 480x320 phones */
      display: inline-flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      align-self: flex-start;
    }
  }
}
