.subTitle {
  font-size: var(--font-size-h5-small);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h1);
  color: var(--gray-900);
  margin-top: 8px;
}

.tips {
  line-height: var(--line-height-p1);
  gap: 6px;
  color: var(--gray-800);
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
