.searchWrapper {
  position: relative;
  margin-top: var(--space-2-5);

  .searchResults {
    position: absolute;
    left: 0;
    top: calc(var(--space-14) + var(--space-1));
    z-index: 999;
    visibility: hidden;
    max-height: 350px;
    border-radius: var(--border-radius-5);
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 0;
    box-shadow: var(--box-shadow-md);

    .searchResultsItem {
      padding: var(--space-4) var(--space-2-5);
      color: var(--gray-700);
      background-color: transparent;
      width: 100%;
      font-weight: var(--font-weight-semi-bold);
      transition: all 0.25s ease;

      &:hover {
        cursor: pointer;
        color: var(--blue-600);
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--gray-100);
      }
    }
  }
  .searchResultsVisible {
    visibility: visible;
  }
}
