.bmiWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  @media (min-width: 1200px) {
    flex-direction: row;
    gap: var(--space-10);
  }

  .bmiCalculator {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    .form {
      display: flex;
      flex-direction: column;
      gap: var(--space-3);
      max-width: 460px;

      .inputWrapper {
        width: 100%;
      }
    }

    @media (min-width: 600px) {
      .form {
        flex-direction: row;
        gap: var(--space-8);
        max-width: 600px;

        .inputWrapper {
          width: 200px;
        }
      }
    }

    @media (min-width: 900px) {
      .form {
        gap: var(--space-10);

        .inputWrapper {
          width: 230px;
        }
      }
    }

    .info {
      font-weight: var(--font-weight-semi-bold);
      color: var(--gray-900);
      color: var(--black);
      font-size: var(--font-size-p3);
      line-height: var(--line-height-p3);

      .name {
        color: var(--blue-500);
      }

      .result {
        color: var(--black);
        font-size: var(--font-size-p4);
        line-height: var(--line-height-p4);
      }
    }
  }

  .ranges {
    display: flex;
    flex-direction: column;
    margin: var(--space-2) auto 0 auto;
    gap: var(--space-1);

    .range {
      display: flex;
      align-items: center;
      color: var(--gray-800);

      .dot {
        height: 7px;
        width: 7px;
        background-color: var(--blue-500);
        border-radius: calc(7px / 2);
      }
      .values {
        text-align: center;
        width: 90px;
        margin-left: var(--space-4);
        margin-right: var(--space-6);

        @media (min-width: 900px) {
          margin-left: var(--space-5);
          margin-right: var(--space-8);
        }
      }
    }

    @media (min-width: 600px) {
      margin-top: var(--space-5);
    }
  }
}
