.container {
   height: 100%;
   width: 100vw;
   display: flex;
   flex-direction: column;
   background-color: var(--gray-50);
   @media (min-width: 800px) {
      flex-direction: row;
      height: 100vh;
   }
   .leftBox {
      height: 60px;
      background-color: var(--blue-700);
      width: 100%;
      display: flex;
      align-items: center;
      @media (min-width: 800px) {
         height: 100%;
         width: 300px;
         align-items: flex-start;
      }
   }
   .leftMenu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @media (min-width: 800px) {
         flex-direction: column;
      }
   }
   .iconContainer {
      display: flex;
      flex-direction: row;
      padding: 5px 0 0 5px;
   }
   .settingsIcon {
      width: 40px;
      height: 40px;
      fill: var(--gray-400);
   }
   .iconText {
      padding-top: var(--space-2);
      color: var(--gray-400);
      font-size: var(--font-size-h4);
      padding-left: var(--space-2);
      display: none;
      @media (min-width: 800px) {
         display: block;
      }
   }
   .icon {
      width: 20px;
      height: 20px;
      display: flex;
      fill: var(--gray-400);
   }

   .activeIcon {
      width: 20px;
      height: 20px;
      fill: var(--purple-500);
   }
   .categoryContainer {
      display: flex;
      flex-direction: row;
      gap: var(--space-8);
      color: var(--gray-400);
      margin-left: var(--space-8);
      justify-content: center;
      @media (min-width: 800px) {
         flex-direction: column;
         margin-top: var(--space-10);
         align-items: flex-start;
      }
   }
   .editProfileContainter {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .buttonText {
         color: var(--gray-400);
         display: none;
         @media (min-width: 800px) {
            display: block;
            margin-left: var(--space-2);
            margin-right: var(--space-2);
         }
      }

      .activeButtonText {
         color: var(--purple-500);
         display: none;
         @media (min-width: 800px) {
            display: block;
         }
      }

      .arrow {
         width: 20px;
         height: 20px;
         fill: var(--gray-400);
         visibility: hidden;
      }
      &:hover {
         .arrow {
            visibility: hidden;
            @media (min-width: 800px) {
               visibility: visible;
            }
         }
      }
      .activeArrow {
         width: 20px;
         height: 20px;
         fill: var(--purple-500);
         visibility: hidden;
         @media (min-width: 800px) {
            visibility: visible;
         }
      }
   }

   .changePasswordContainer {
      display: flex;
      align-items: center;
      cursor: pointer;

      .buttonText {
         color: var(--gray-400);
         display: none;
         @media (min-width: 800px) {
            display: block;
            margin-left: var(--space-2);
            margin-right: var(--space-2);
         }
      }

      .activeButtonText {
         color: var(--purple-500);
         display: none;
         @media (min-width: 800px) {
            display: block;
         }
      }

      .arrow {
         width: 20px;
         height: 20px;
         fill: var(--gray-400);
         visibility: hidden;
      }
      &:hover {
         .arrow {
            visibility: hidden;
            @media (min-width: 800px) {
               visibility: visible;
            }
         }
      }
      .activeArrow {
         width: 20px;
         height: 20px;
         fill: var(--purple-500);
         visibility: hidden;
         @media (min-width: 800px) {
            visibility: visible;
         }
      }
   }

   .logoutContainer {
      display: flex;
      align-items: center;
      cursor: pointer;

      .buttonText {
         color: var(--gray-400);
         display: none;
         @media (min-width: 800px) {
            display: block;
            margin-left: var(--space-2);
            margin-right: var(--space-2);
         }
      }

      .activeButtonText {
         color: var(--purple-500);
         display: none;
         @media (min-width: 800px) {
            display: block;
         }
      }

      .arrow {
         width: 20px;
         height: 20px;
         fill: var(--gray-400);
         visibility: hidden;
      }
      &:hover {
         .arrow {
            visibility: hidden;
            @media (min-width: 800px) {
               visibility: visible;
            }
         }
      }
      .activeArrow {
         width: 20px;
         height: 20px;
         fill: var(--purple-500);
         visibility: hidden;
         @media (min-width: 800px) {
            visibility: visible;
         }
      }
   }

   .rightBox {
      display: flex;
      width: 100%;
      height: 100%;
      margin-top: var(--space-10);
      align-items: center;
      flex-direction: column;
   }

   .title {
      font-size: var(--font-size-h1-small);
      font-weight: var(--font-weight-bold);
   }

   .inputsWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: var(--space-2);
      margin-bottom: var(--space-4);
      justify-content: center;
      @media (min-width: 800px) {
         flex-direction: row;
      }
   }

   .lastInputsWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--space-4);
      @media (min-width: 800px) {
         width: 50%;
      }
   }

   .inputsContainer {
      margin-top: var(--space-4);
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: var(--box-shadow-xs);
      border-radius: var(--border-radius-15);
      padding: var(--space-4) var(--space-4);
   }

   .changeAvatar {
      display: flex;
      margin-top: var(--space-7);
      margin-bottom: var(--space-7);
      cursor: pointer;
   }

   .avatarIcon {
      height: 92px;
      width: 92px;
   }
   .editIcon {
      height: 32px;
      width: 32px;
      margin-top: auto;
      transform: translateX(-25px);
   }
}
