.container {
   height: 100vh;
   width: 100vw;
   display: flex;
   background-color: var(--gray-50);
   .leftBox {
      height: 100%;
      background-color: var(--blue-700);
      width: 250px;
      display: flex;
   }
   .leftMenu {
      display: flex;
      padding: 20px 0px 0px 20px;
      flex-direction: column;
   }
   .iconContainer {
      display: flex;
      flex-direction: row;
   }
   .settingsIcon {
      width: 45px;
      height: 45px;
      fill: var(--gray-400);
   }
   .iconText {
      padding-top: var(--space-2);
      color: var(--gray-400);
      font-size: var(--font-size-h4);
      padding-left: var(--space-2);
   }
   .icon {
      width: 20px;
      height: 20px;
      margin-right: var(--space-2);
      fill: var(--gray-400);
   }

   .activeIcon {
      width: 20px;
      height: 20px;
      margin-right: var(--space-2);
      fill: var(--purple-500);
   }
   .categoryContainer {
      padding-top: var(--space-8);
      display: flex;
      flex-direction: column;
      gap: var(--space-8);
      color: var(--gray-400);
   }
   .editProfileContainter {
      display: flex;
      align-items: center;
      cursor: pointer;

      .buttonText {
         color: var(--gray-400);
      }

      .activeButtonText {
         color: var(--purple-500);
      }

      .arrow {
         width: 20px;
         height: 20px;
         fill: var(--gray-400);
         visibility: hidden;
      }
      &:hover {
         .arrow {
            visibility: visible;
         }
      }
      .activeArrow {
         width: 20px;
         height: 20px;
         fill: var(--purple-500);
         visibility: visible;
      }
   }

   .notificationsContainer {
      display: flex;
      align-items: center;
      cursor: pointer;

      .buttonText {
         color: var(--gray-400);
      }

      .activeButtonText {
         color: var(--purple-500);
      }

      .arrow {
         width: 20px;
         height: 20px;
         fill: var(--gray-400);
         visibility: hidden;
      }
      &:hover {
         .arrow {
            visibility: visible;
         }
      }
      .activeArrow {
         width: 20px;
         height: 20px;
         fill: var(--purple-500);
         visibility: visible;
      }
   }

   .helpContainer {
      display: flex;
      align-items: center;
      cursor: pointer;

      .buttonText {
         color: var(--gray-400);
      }

      .activeButtonText {
         color: var(--purple-500);
      }

      .arrow {
         width: 20px;
         height: 20px;
         fill: var(--gray-400);
         visibility: hidden;
      }
      &:hover {
         .arrow {
            visibility: visible;
         }
      }
      .activeArrow {
         width: 20px;
         height: 20px;
         fill: var(--purple-500);
         visibility: visible;
      }
   }
   .securityContainer {
      display: flex;
      align-items: center;
      cursor: pointer;

      .buttonText {
         color: var(--gray-400);
      }

      .activeButtonText {
         color: var(--purple-500);
      }

      .arrow {
         width: 20px;
         height: 20px;
         fill: var(--gray-400);
         visibility: hidden;
      }
      &:hover {
         .arrow {
            visibility: visible;
         }
      }
      .activeArrow {
         width: 20px;
         height: 20px;
         fill: var(--purple-500);
         visibility: visible;
      }
   }

   .rightBox {
      display: flex;
      width: 100%;
      height: 100%;
      margin-top: var(--space-10);
      align-items: center;
      flex-direction: column;
   }

   .title {
      font-size: var(--font-size-h1-small);
      font-weight: var(--font-weight-bold);
   }

   .inputsWrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      align-items: center;
      gap: var(--space-20);
      margin-bottom: var(--space-10);
      justify-content: center;
   }

   .inputsContainer {
      margin-top: var(--space-4);
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: var(--box-shadow-xs);
      border-radius: var(--border-radius-15);
      padding: var(--space-6) var(--space-5);
   }

   .changeAvatar {
      display: flex;
      margin-top: var(--space-7);
      margin-bottom: var(--space-7);
      cursor: pointer;
   }

   .avatarIcon {
      height: 92px;
      width: 92px;
   }
   .editIcon {
      height: 32px;
      width: 32px;
      margin-top: auto;
      position: relative;
      transform: translateX(-25px);
   }
}
