.scrollWrapper {
  overflow: hidden;

  .spinnerWrapper {
    margin-top: var(--space-6);
    height: 50px;
  }
}

.resultsAlert {
  text-align: center;
  font-weight: var(--font-weight-semi-bold);
}
