.commentContainer {
   display: flex;
   flex-direction: column;
   margin-left: var(--space-2);
   margin-top: var(--space-2);
   margin-right: var(--space-2);

   .commentBox {
      display: flex;
      flex-direction: column;
      box-shadow: var(--box-shadow-md);
      height: 300px;
      background-color: var(--gray-50);
      width: 99%;
      border-radius: var(--border-radius-10);
      margin-top: var(--space-6);
      padding-left: var(--space-2);
      @media (min-width: 1100px) {
         width: 800px;
      }
   }
   .commentwrapp {
      display: flex;
      flex-direction: column;
   }
   .commentAvatar {
      position: relative;
      width: 40px;
      height: 40px;
      margin-top: var(--space-2);
   }
   .headerComment {
      display: flex;
      margin-bottom: var(--space-4);
   }
   .commentName {
      font-weight: var(--font-weight-extra-bold);
      margin-top: var(--space-4);
      font-size: var(--font-size-p1);
      line-height: var(--line-height-p3);
   }
   .commentTag {
      margin-left: var(--space-2);

      color: var(--gray-600);
   }
   .commentMenu {
      display: flex;
      padding-left: auto;
      max-width: 24px;
      height: 24px;
      margin-right: 10px;
      margin-top: var(--space-2);
   }
   .commentDate {
      margin-left: auto;
      padding-right: var(--space-2);
      margin-top: var(--space-2-5);
      font-size: var(--font-size-p1);
      color: var(--gray-600);
   }
   .commentIcon {
      width: 24px;
      height: 24px;
      fill: var(--gray-600);
      margin-right: var(--space-1);
   }
   .commentText {
      padding-right: var(--space-2);
      padding-left: var(--space-2);
      font-size: var(--font-size-p1);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   .commentTagText {
      font-size: var(--font-size-p1);
      line-height: var(--line-height-p1);
   }
   .commentFooter {
      display: flex;
      margin-top: auto;
      margin-left: var(--space-2);
      margin-bottom: var(--space-4);
   }
   .commentLike {
      margin-right: var(--space-10);
      display: flex;
      flex-direction: row;
   }
   .commentWrapper {
      display: flex;
      flex-direction: row;
   }
   .clickedHeart {
      fill: var(--red-600);
      width: 24px;
      height: 24px;
      margin-right: var(--space-1);
   }

   .partybuffs {
      background-color: white;
      border: 2px solid black;
      border-radius: 5px;
      margin: auto;
      text-align: center;
      width: 500px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
   }

   .partybuff {
      flex-basis: 125px;
      display: grid;
      justify-content: center;
      margin: 7px 2px 7px 2px;
      border-right: 2px solid black;
      font-size: 12px;

      &:last-child {
         border-right: none;
      }
   }
}
