.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 15px;

  .wrapperList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  @media (min-width: 660px) {
    .wrapperList {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 1060px) {
    .wrapperList {
      gap: 30px;
    }
  }

  @media (min-width: 1270px) {
    .wrapperList {
      gap: 50px;
    }
  }
}
