.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  .arrow {
    border: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: unset;

    .arrowLink {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      .icon {
        width: 12px;
        fill: var(--gray-30);
      }
    }

    &:hover {
      background-color: var(--gray-10);
      border-radius: 5px;
      .icon {
        fill: var(--gray-40);
      }
    }
  }

  .arrowDisabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  .break {
    color: var(--gray-30);
  }

  .page {
    border: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: unset;
    color: var(--gray-30);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

    .pageLink {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    &:hover {
      border-radius: 4px;
      background-color: var(--blue-50);
      color: var(--white-1);
    }
  }

  .pageActive {
    border-radius: 4px;
    color: var(--white-1);
    background-color: var(--blue-50);
  }
}

@media (max-width: 400px) {
  .paginationContainer {
    gap: 5px;

    .arrow {
      height: 30px;
      width: 30px;
    }

    .page {
      height: 30px;
      width: 30px;
    }
  }
}
