.Container {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   .imageContainer {
      position: relative;
      width: 100%;
      height: 348px;
   }
   .profileContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: var(--white);
      width: 89%;
      height: 380px;
      border-radius: var(--border-radius-15);
      margin-left: var(--space-5);
      box-shadow: var(--box-shadow-xl);
      @media (min-width: 800px) {
         width: 500px;
         margin-left: var(--space-8);
         height: 500px;
         transform: translateY(-20%);
         justify-content: flex-end;
         margin-right: var(--space-8);
      }
   }
   .mobileWrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      transform: translateY(-15%);
   }
   .avatar {
      position: relative;
      width: 150px;
      height: 150px;
   }
   .name {
      font-weight: var(--font-weight-extra-bold);
   }

   .firstAchiv {
      display: flex;
      height: 326px;
      width: 100%;
      align-items: center;
      flex-direction: column;
      background-color: var(--blue-100);
      @media (min-width: 1100px) {
         width: 800px;
      }
   }

   .secondAchiv {
      display: flex;
      height: 326px;
      width: 100%;
      align-items: center;
      flex-direction: column;
      background-color: var(--gray-400);
      @media (min-width: 1100px) {
         width: 800px;
      }
   }

   .tripleAchiv {
      display: flex;
      height: 326px;
      width: 100%;
      align-items: center;
      flex-direction: column;
      background-color: var(--gray-700);
      @media (min-width: 1100px) {
         width: 800px;
      }
   }

   .medal {
      height: 40px;
      width: 40px;
   }

   .boxes {
      display: flex;
      width: 100%;
      max-height: 75%;
      justify-content: center;
      align-items: center;
   }

   .boxWrapper {
      width: 100%;
      height: 75%;
   }
   .smallBlueBox {
      background-color: var(--blue-200);
      width: 70%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
      margin-left: var(--space-8);
      margin-bottom: var(--space-8);
      @media (min-width: 1100px) {
         width: 250px;
         height: 100px;
         margin-right: auto;
         margin-left: var(--space-12);
      }
   }

   .smallDarkerBlueBox {
      background-color: var(--gray-500);
      width: 70%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
      margin-left: var(--space-8);
      margin-bottom: var(--space-8);
      @media (min-width: 1100px) {
         width: 250px;
         height: 100px;
         margin-right: auto;
         margin-left: var(--space-12);
      }
   }
   .smallDarkest {
      background-color: var(--gray-800);
      width: 70%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
      margin-left: var(--space-8);
      margin-bottom: var(--space-8);
      @media (min-width: 1100px) {
         width: 250px;
         height: 100px;
         margin-right: auto;
         margin-left: var(--space-12);
      }
   }

   .smallRightBlueBox {
      background-color: var(--blue-200);
      width: 70%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
      margin-left: var(--space-8);
      margin-bottom: var(--space-8);
      @media (min-width: 1100px) {
         width: 250px;
         height: 100px;
         margin-left: auto;
         margin-right: var(--space-12);
      }
   }

   .smallDarkRight {
      background-color: var(--gray-500);
      width: 70%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
      margin-left: var(--space-8);
      margin-bottom: var(--space-8);
      @media (min-width: 1100px) {
         width: 250px;
         height: 100px;
         margin-left: auto;
         margin-right: var(--space-12);
      }
   }

   .smallRightDarkest {
      background-color: var(--gray-800);
      width: 70%;
      height: 100px;
      box-shadow: var(--box-shadow-md);
      margin-left: var(--space-8);
      margin-bottom: var(--space-8);
      @media (min-width: 1100px) {
         width: 250px;
         height: 100px;
         margin-left: auto;
         margin-right: var(--space-12);
      }
   }

   .tabContainer {
      max-width: 95%;
      margin-left: var(--space-2);
      margin-top: var(--space-10);
   }

   .wrapper {
      margin-top: var(--space-10);
   }

   .tag {
      color: var(--gray-400);
   }

   .icon {
      width: 24px;
      height: 24px;
      fill: var(--gray-500);
   }
   .informationContainer {
      display: flex;
      flex-direction: column;
      padding-top: var(--space-2-5);
      gap: var(--space-2-5);
      color: var(--gray-600);
   }
   .informationWrapper {
      display: flex;
      gap: var(--space-2-5);
   }

   .SocialContainer {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin-top: var(--space-2-5);
   }
   .socialText {
      font-weight: var(--font-weight-bold);
   }
   .socialWrapper {
      display: flex;
      gap: var(--space-2-5);
   }
   .socialIcon {
      width: 37px;
      height: 37px;
   }
   .menuContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: var(--space-5);

      margin-top: var(--space-8);
      width: 89%;
   }
   .botContainer {
      display: flex;
      flex-direction: column;
      @media (min-width: 800px) {
         flex-direction: row;
      }
   }
   .rightBox {
      width: 100%;
   }

   .menuIcon {
      width: 24px;
      height: 24px;
      @media (min-width: 500px) {
         height: 40px;
         width: 40px;
      }
      @media (min-width: 900px) {
         display: none;
      }
   }

   .activeMenu {
      fill: var(--blue-600);
      height: 24px;
      width: 24px;
      @media (min-width: 500px) {
         height: 40px;
         width: 40px;
      }
      @media (min-width: 900px) {
         display: none;
      }
   }
   .activeText {
      color: var(--blue-600);
      font-size: var(--font-size-p5);
      font-weight: var(--font-weight-bold);
      display: none;
      @media (min-width: 900px) {
         display: flex;
      }
   }
   .menuText {
      font-size: var(--font-size-p5);
      font-weight: var(--font-weight-bold);
      display: none;
      @media (min-width: 900px) {
         display: flex;
      }
   }

   .menuWrapper {
      font-size: var(--font-size-p5);
      font-weight: var(--font-weight-bold);
   }

   .menuButton {
      font-weight: var(--font-weight-bold);
   }
}
