.container {
   height: 100%;
   display: flex;
   background-color: var(--gray-00);
   border-radius: 10px;
   justify-content: center;
   flex-direction: column;
   padding-right: var(--space-6);
   padding-left: var(--space-6);
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;

   @media (min-width: 1500px) {
      max-width: 650px;
   }

   .printButton {
      display: flex;
      flex-direction: row;
      border-radius: 0%;
      border: none;
      background-color: var(--gray-00);
      color: var(--gray-80);
      cursor: pointer;
   }
   .saveButton {
      display: flex;
      flex-direction: row;
      border-radius: 0%;
      border: none;
      background-color: var(--gray-00);
      color: var(--gray-80);
      cursor: pointer;
      &:disabled {
         cursor: not-allowed;
      }
   }

   .trashButton {
      display: flex;
      flex-direction: row;
      border-radius: 0%;
      border: none;
      background-color: var(--gray-00);
      color: var(--gray-80);
      cursor: pointer;
   }
   .buttons {
      display: flex;
      flex-direction: row;
      padding-right: 15px;
      gap: 5px;
      margin-bottom: 25px;
      justify-content: flex-end;
      align-items: flex-end;
   }

   .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 1000px;
   }

   .text {
      font-weight: 900;
      padding-left: 10px;
   }
   .title {
      font-weight: var(--font-weight-semi-bold);
      font-size: var(--font-size-h1-small);
      padding-left: var(--space-1);
      width: 100%;
      color: var(--blue-0);
   }
   .header {
      display: flex;
      flex-direction: column;
      height: 10%;
      background-color: var(--primary-color);
      border-bottom: 1px;
      @media (min-width: 450px) {
         flex-direction: row;
      }
   }
   .hidden {
      display: none;
      visibility: hidden;
   }
   .icon {
      width: 20px;
      height: 20px;
      fill: var(--white-1);
   }

   .removeButton {
      border: none;
      color: inherit;
      border-radius: 50%;
      background: transparent;
      position: relative;
      width: 14px;
      height: 14px;
      opacity: 0.6;

      &:hover,
      &:focus {
         opacity: 1;

         color: var(--blue-200);
      }

      &:active {
         background: var(--blue-20);
      }

      &:before,
      &:after {
         content: ' ';
         position: absolute;
         top: 50%;
         left: 50%;
         height: 11px;
         width: 2px;
         background-color: currentColor;
      }

      &:before {
         transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
         transform: translate(-50%, -50%) rotate(-45deg);
      }
   }

   .productsContainer {
      border-radius: 12px;
      border: solid var(--gray-200) 1px;
   }

   .products {
      padding-left: 0px;
      box-shadow: var(--box-shadow-xs);

      &:empty {
         display: none;
      }

      .product {
         display: flex;
         flex-wrap: wrap;
         padding-bottom: 15px;
         padding-left: var(--space-6);
         padding-top: 15px;
         border-bottom: solid var(--gray-200) 1px;
         &:last-child {
            border: none;
         }

         .productNumber {
            color: var(--gray-800);
            font-size: var(--font-size-p2);
            font-weight: var(--font-weight-semi-bold);
         }
         .productName {
            color: var(--gray-40);
            font-size: var(--font-size-p2);
            font-weight: var(--font-weight-semi-bold);
            max-width: 45%;
            flex-wrap: wrap;
            @media (min-width: 450px) {
               max-width: 55%;
            }
            @media (min-width: 650px) {
               max-width: 65%;
            }
            @media (min-width: 850px) {
               max-width: 75%;
            }
         }
         .productWeight {
            color: var(--gray-400);
            text-align: center;
            padding-left: var(--space-2);
            display: flex;
            align-items: flex-end;
         }
         .productActions {
            margin-left: auto;
            display: flex;
            align-items: center;
            padding-right: var(--space-7);
         }
      }
   }

   .removesButton {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      border-radius: 0%;
      border: none;
      background-color: var(--gray-00);
      color: var(--gray-600);
      cursor: pointer;
   }
   .trashContainer {
      display: flex;
      margin-left: auto;
      padding-top: var(--space-6);
      padding-right: var(--space-7);
   }

   .trashIcon {
      width: 20px;
      height: 20px;
      fill: var(--gray-500);
   }
   .productsEmpty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: var(--space-6);
   }

   .emptyText {
      color: var(--blue-700);
      font-size: var(--font-size-p2);
      font-weight: var(--font-weight-semi-bold);
      padding-top: var(--space-5);
      padding-right: var(--space-7);
      padding-left: var(--space-7);
      padding-bottom: var(--space-5);
      margin-left: auto;
      margin-right: auto;
      text-align: center;
   }
}
