.label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  font-size: 12px;
  font-weight: 600;
  gap: 5px;
  width: 100%;

  .input {
    height: 50px;
    background-color: transparent;
    padding: 0 1rem;
    border: 2px solid var(--primary-color);
    color: var(--black-3);
    font-size: 16px;
    font-weight: 600;

    &::placeholder {
      color: var(--gray-30);
      border: none;
    }
  }

  .input-gray {
    border: 1px solid var(--gray-10);
  }

  .input-white {
    border: none;
    color: var(--primary-color);
    background-color: var(--white-1);

    &:focus {
      outline: 1px solid var(--blue-20);
    }
  }

  .input-radius-5 {
    border-radius: 5px;
  }

  .input-radius-10 {
    border-radius: 10px;
  }

  .input-radius-15 {
    border-radius: 15px;
  }

  .inputError {
    border-color: var(--red-2);
  }

  .error {
    color: var(--red-2);
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
    line-height: 14px;
    font-weight: 600;
  }
}
