.shareContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
  padding-right: 5px;

  position: static;
  @media (min-width: 940px) {
    max-width: 55%;
    transform: translateY(-10px);
  }
  @media (min-width: 1080px) {
    max-width: 60%;
    transform: translateY(-10px);
  }

  .categoryText {
    color: var(--white);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-p1);
  }

  .share {
    margin-top: 8px;
    margin-left: 10px;
  }

  .icon {
    margin-left: auto;
    margin-right: auto;
    fill: white;
    width: 24px;
    height: 24px;
  }
  .print {
    margin-top: 8px;
    margin-left: 10px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    color: var(--gray-80);
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .icons {
    display: flex;
    flex-direction: row;
  }

  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .socials {
    background-color: var(--white);
    box-shadow: var(--box-shadow-sm);
    border: 1px solid var(--gray-100);
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius-10);
    padding-top: var(--space-2-5);
    padding-right: var(--space-1-5);
    padding-left: var(--space-1-5);
    flex-direction: column;
    position: absolute;
    padding-bottom: 5px;
    animation: growDown 300ms ease-in-out forwards;
  }

  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    color: var(--gray-80);
    cursor: pointer;
    width: 32px;
    height: 32px;
  }

  .copyContainer {
    padding-bottom: var(--space-1);
  }

  *:focus {
    outline-style: 2px solid var(--black) !important;
    outline: 2px solid var(--black) !important;
    outline: 2 !important;
    border: 1px solid black;
    border-radius: 50%;
  }
}
