.loginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .formBtn {
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    height: 50px;
    letter-spacing: 1.1px;
    color: var(--white-2);
    font-weight: 600;
    cursor: pointer;
  }

  .formBtn:disabled {
    cursor: not-allowed;
    background-color: var(--gray-30);
  }

  .error {
    color: var(--red-2);
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
    line-height: 14px;
    font-weight: 600;
  }
}
