.loginForm {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  .formBtn {
    width: 300px;
    background-color: var(--blue-500);
    color: var(--white);
    font-weight: var(--font-weight-bold);
    width: 100%;
    border: none;
    height: 50px;
    cursor: pointer;
  }

  .formBtn:disabled {
    cursor: not-allowed;
    background-color: var(--gray-100);
    color: var(--gray-700);
  }
}
